.page-content {
    // VERTICAL PADDING FOR TITLE ON EVERY PAGE
    // padding: 100px 0; 
    padding: 70px 0; 
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}
